* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; // base browser font size 16px, 16*.625 = 10px
}

body {
  background-color: $body-background-color;
  color: $body-default-color;
  font-family: $body-default-font;
  font-size: $base-font-size; //1.4rem, 14px;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;

  font-size: 2.4rem;
}

h2 {
  font-size: $large-font-size;
  margin-bottom: $space;

  font-size: 2.4rem;
}

p {
  margin-bottom: $space;
}

a {
  color: $body-default-color;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 1px solid $input-border;
  color: $body-default-color;
  font-size: $base-font-size;
  font-family: $body-default-font;
  margin-bottom: $space;
  padding: $input-spacing;
}
