.editor {
  background-color: white;
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  padding: $large-space;
  width: 100%;
}

.editor__title {
  border: none;
  border-bottom: 2px solid $grey;
  font-size: $large-font-size;
  margin-bottom: $large-font-size;
  outline: none;
  padding: $input-spacing;
}

.editor__body {
  flex-grow: 1;
  font-weight: 300;
  margin-bottom: $large-font-size;
  outline: none;
  padding: $input-spacing;
  resize: none;
}

.editor__message {
  font-style: italic;
  margin: $large-space;
  text-align: center;
}
