// Item List
.item-list {
  background: $white;
  border: 1px solid $grey;
  overflow-y: scroll;
  width: 100%;
}

.item-list__header {
  display: flex;
  flex-direction: column;
  padding: $space;
}

// Item
.item {
  border-left: $item-border-width solid transparent;
  cursor: pointer;
  padding: $space;
  transition: background-color 0.3s ease, border-left 0.3 ease;
}

.item:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $grey;
}

.item--selected,
.item--selected:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $brand-primary;
}

.note__title {
  font-weight: normal;
  font-size: $base-font-size;
  margin-bottom: 0.4em;
}

.item--selected .note__title {
  font-weight: 600;
}

.note__subtitle {
  color: $dark-grey;
  margin: 0;
}

// Empty item
.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;
}
